<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app/index.js"></script>
<script src="/js/app/posts.js"></script>
<script src="/js/app/users.js"></script>
<script src="/js/app/datatables-simple-demo.js"></script>
<script src="/js/app/scripts.js"></script>
<script src="/js/app/file.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script id="dsq-count-scr" src="//springboot-web-2.disqus.com/count.js" async></script>
</body>
</html>