{{>layout/header}}

<br>
<div id="layoutSidenav_content">
    <main>
        <div class="col-md-6">
            <!-- 로그인 기능 영역 -->
            {{^loginUserName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                <a href="/oauth2/authorization/kakao" class="btn btn-dark active" role="button">Kakao Login</a>
            {{/loginUserName}}

            {{#loginUserName}}
                <a class="navbar-brand ps-3">
                    <span id="user">{{loginUserName}}</span>님 로그인.
                    {{#loginUserRegion}}
                        지역 : <span id="user">{{loginUserRegion}}</span>
                    {{/loginUserRegion}}

                    <a href="/user/update/" class="btn btn-secondary" role="button">회원 설정</a>
                    <a href="/logout" class="btn btn-light" role="button">Logout</a>
                </a>
            {{/loginUserName}}
        </div>
        <br>
        <div class="container-fluid px-4">
            <div class="row">
                <div class="col-xl-6">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            {{#loginUserName}}
                                <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                즐겨찾기 목록
                            </div>
                                <div class="card-body">
                                <table id="datatablesSimple" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>지역코드</th>
                                        <th>버스 ID</th>
                                        <th>버스 번호</th>
                                        <th>즐겨찾기 삭제</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#loginFavorlite}}
                                        <tr>
                                            <td>{{region}}</td>
                                            <td><a href="/bus/{{name}}">{{name}}</a></td>
                                            <td>{{number}}</td>
                                            <td>
                                                <button onclick="favoriteDelete('{{region}}', '{{name}}', '{{number}}')" type="button" class="btn btn-secondary">삭제</button>
                                            </td>
                                        </tr>
                                    {{/loginFavorlite}}
                                    </tbody>
                                </table>
                            </div>
                            {{/loginUserName}}
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                게시글 목록
                            </div>
                            <div class="card-body">
                                {{#loginUserName}}
                                    <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                                {{/loginUserName}}

                                <table id="datatablesSimple" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>게시글번호</th>
                                        <th>제목</th>
                                        <th>작성자</th>
                                        <th>글 작성시간</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {{#posts}}
                                            <tr>
                                                <td>{{id}}</td>
                                                <td><a href="/posts/view/{{id}}">{{title}}</a></td>
                                                <td>{{author}}</td>
                                                <td>{{modifiedDate}}</td>
                                            </tr>
                                        {{/posts}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                버스 목록
                            </div>
                            <div class="card-body">

                                    <form id="uploadFrm" enctype="multipart/form-data">
                                        <p>데이터 업로드<br>엑셀파일만 업로드 가능(xls, xlsx)</p>
                                        <input type="file" name="upFile" id="upFile" accept=".xlsx, .xls"/>
                                    </form>
<!--                                    <button type="button" class="btn btn-secondary" id="btn-index-bus-update">버스 정보 업데이트</button>-->
                                    <table id="busnumberlist" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>지역코드</th>
                                        <th>버스 ID</th>
                                        <th>버스 번호</th>
                                        {{#loginUserName}}
                                            <th>즐겨찾기</th>
                                        {{/loginUserName}}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#buslist}}
                                        <tr>
                                            <td>{{region}}</td>
                                            <td><a href="/bus/{{name}}">{{name}}</a></td>
                                            <td>{{number}}</td>
                                        {{#loginUserName}}
                                            <td>
                                                <button onclick="favoriteSave('{{region}}', '{{name}}', '{{number}}')" type="button" class="btn btn-secondary">추가</button>
                                            </td>
                                        {{/loginUserName}}
                                        </tr>
                                    {{/buslist}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>

{{>layout/footer}}